# -*- mode: ruby -*-
# vi: set ft=ruby :

# Default Vagrant box configuration
Vagrant.configure("2") do |config|
    config.vm.box = "windows_10"
    config.vm.communicator = "winrm"

    config.vm.guest = :windows

    config.vm.provider "virtualbox" do |v|
        v.gui = true
        v.memory = 2048
        v.cpus = 2
    end
end
