# -*- mode: ruby -*-
# vi: set ft=ruby :

# Default Vagrant box configuration
Vagrant.configure("2") do |config|
    config.vm.box = "ubuntu_server_20.04"
    config.vm.communicator = "ssh"

    config.vm.guest = :linux

    config.vm.provider "virtualbox" do |v|
        v.gui = false
        v.memory = 2048
        v.cpus = 2
    end
end
